<html>
  <body>
   <div class="bg-container">
    <nav class="nav">
      <ul>
        <li><a routerLink="login">Login</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="course-list">course List</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="course-add">course add</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a routerLink="course-menu">course menu</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
    </nav>
        <router-outlet></router-outlet>
      </div>
    </body>
</html>
